body{
	background-color: #C4C4C4;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color:black;
}

.banner{
	background-image: url("image/breakfast.jpg");
	background-position: center;
	background-size: cover;
	padding-top:75px;
	text-align: center;
	color: #2e3d4d;
}



.sticky-box{
	position:sticky;
	width: 220px;
	padding: 10px;
	background-color: #2e3d4d;
	top: 20px;
	color: white;
}

.txt{
	height: 75px;
}

.blabla{

}

.btn {
	width: 200px;
}

.boite {
	position: relative;
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

.footer{
	background-color: grey;
	font-size: 12px;
}

.bouton-menu{
	margin-top: 10px;
	border:1px solid;
	padding: 3px;
	background-color: grey;
}



